<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


	<!-- include rpgui -->
    {% load static %}
	<link href="{% static 'css_rpgui/rpgui.css' %}" rel="stylesheet" type="text/css" >
	<script src="{% static 'css_rpgui/rpgui.js' %}""></script>

    <style>
    body, #container
	{
		background: #222;
		padding-top:20px;
		padding-bottom:20px;
	}
    .inner
	{
		background: #444;
		padding-left:20px;
		padding-right:20px;
		min-width: 740px;
		max-width: 900px;
		margin: 0 auto;
	}
        
    </style>

    <title>EarthQuest</title>
</head>
<body>
<div class="rpgui-content">


 <div class="rpgui-content" style="overflow-y:scroll;">
    <div id="container">
	  <div id="main"></div>
      <div class="inner rpgui-container framed" style="position:relative">

    <header>
    <h1 style="font-size:250%">EarthQuest</h1>
    <hr class="golden" />
    </header>
    
    <div id="containers" class="rpgui-container framed-grey">
    <p>
    Du bist ein Außerirdischer und düst mit deinem neuen "VW Roomship-Hybrid" mit einer affenartigen Geschwindigkeit von über 180 km/h durchs Universum. 
    Eine kurze Unachtsamkeit, und schon ist es passiert. <br /> <br />
    Du stürzt mit deinem Raumschiff auf dem blauen Planeten "Erde" ab, und als wäre das nicht schon schlimm genug, auch noch mitten auf der schwäbischen Alb. <br />
    Der dritte Eierlikör an der Universums-Autobahn-Raststätte "Melmac" war wohl zu viel. <br />
    Aber wenigstens warst du so vor dem Absturz nochmal auf dem Klo. 
    Das erspart uns einige potenzielle unschöne Dinge, die sonst bei so einer Katastrophe gerne mal passieren. 
    </p></div>
    
    <br />
    <br />
        <hr class="golden" />
    <br />
    <br />
    <form action="{% url 'raum_anzeigen' %}" method="post">
    <input type="hidden" name="raum_id" value="1">
    <input type="hidden" name="aktion" value="reset">
    <input type="submit" value="Neue Erkundung starten...">
    {% csrf_token %}
    </form>
    <br />
    <br />
    <form action="{% url 'raum_anzeigen' %}" method="post">
    <input type="hidden" name="raum_id" value="1">
    <input type="submit" value="Erkundung fortsetzen...">
    {% csrf_token %}
    </form>

</div>
</div>
</div>
</div>



</div>
</body>
</html>