<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- include rpgui -->
    {% load static %}
	<link href="{% static 'css_rpgui/rpgui.css' %}" rel="stylesheet" type="text/css" >
	<script src="{% static 'css_rpgui/rpgui.js' %}""></script>

    <style>
    body, #container
	{
		background: #222;
		padding-top:20px;
		padding-bottom:20px;
	}
    .inner
	{
		background: #444;
		padding-left:20px;
		padding-right:20px;
		min-width: 740px;
		max-width: 900px;
		margin: 0 auto;
	}
        
    </style>


    <title>EarthQuest</title>
</head>
<body>


<div class="rpgui-content">


 <div class="rpgui-content" style="overflow-y:scroll;">
    <div id="container">
	  <div id="main"></div>
      <div class="inner rpgui-container framed" style="position:relative">

    <header>
    <h1 style="font-size:250%">EarthQuest</h1>
    <hr class="golden" />
    <h2 style="font-size:175%">{{ raum.name }}</h2>
    </header>



<div id="containers" class="rpgui-container framed-grey">
    <p>
    {{ raum.epische_beschreibung }}
    </p>
    {% for objekt in objekteQ %}
        <p>
        {{ objekt.epische_beschreibung }}
        </p>
    {% endfor %}
</div>


    {% if meldung != 'keine' %}
<div id="containers" class="rpgui-container framed-grey">
        <p>
        <h3>Meldung zur letzten Aktion:</h3>
        <p>{{ meldung }}</p>
        </p>
</div>
    {% endif %}
    <br />
    <br />
    <br />


        <div id="containers" class="rpgui-container framed-grey">



 


            <div class="rpgui-container framed" style="width: 60%; position:relative;  display:inline-block">
                <p>
                <h2>Gehe zu:</h2>
                <hr />
                {% for richtung in richtungenQ %}
                
                    <form action="{% url 'raum_anzeigen' %}" method="post">
                    {% if richtung.benoetigt_flag.flag_gesetzt %}   
                        <input type="hidden" name="raum_id" value="{{ richtung.neuer_raum.id }}">
                    {% else %}
                        <input type="hidden" name="meldung" value="raum_gesperrt">
                        <input type="hidden" name="meldungswert" value="{{ richtung.id }}">
                        <input type="hidden" name="raum_id" value="{{ richtung.in_raum.id }}">
                    {% endif %}
                    <input  type="submit" value="{{ richtung.name }}">
                    {% csrf_token %}
                    </form>
                
                {% endfor %}
                </p>
            </div>



       <div style="width: 30%; position:relative; display:inline-block">
            <h2>Inventar: </h2>
            <select class="rpgui-list" id="background-select" size="5">
                {% for gegenstand in inventarQ %}
                    <option value="{{ gegenstand }}">{{ gegenstand }}</option>
                {% endfor %}
            </select>
        </div>





        {% for objekt in objekteQ %}

            <div class="rpgui-container framed" style="position:relative;  display:inline-block">
                <h2>{{ objekt.name }}:</h2>
                <hr />
                
                    <p>
                        {% for aktion, aktion_text in aktionen_liste %}
                            <form action="{% url 'raum_anzeigen' %}" method="post">
                            <input type="hidden" name="objekthandling_aktion" value="{{ aktion }}">
                            <input type="hidden" name="objekthandling_objektid" value="{{ objekt.id }}">
                            <input type="hidden" name="raum_id" value="{{ raum.id }}">
                            <input type="submit" value="{{ aktion_text }}">
                            {% csrf_token %}
                            </form>
                        {% endfor %}
                    </p>
                
            </div>
        {% endfor %}
        </div>



    <p>
     
  
    <br />
    <br />
    <br />
    <form action="{% url 'index' %}" method="post">
    <input type="submit" value="<< Abbrechen!">
    {% csrf_token %}
    </form>


</div>
</div>
</div>
</div>
</div>


</body>
</html>